*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

/* header */

header{
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

header #container{
    display: flex;
    align-items: center;

}

header #container .view{
    color: white;
    background-color: gray;
    margin-right: 5px;

}

header #container .expand{
    background-color: gray;
}



/* corpo */

main{
    height: calc(100vh - 110px);

    
}


/* footer */


footer{
    width: 100%;
    height: 80px;
    background-color:#222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

footer #col-sx, #col-dx{
    display: flex;
    /* width: 20%; */
    /* background-color: yellow; */
}

footer  ul li{
    color: white;
    font-size: 12px;

}

footer ul i{
    color: white;
    font-size: 30px;
    padding: 0 10px;
}

footer ul #arrow{
    color:white;
    font-size: 15px;
}

footer #col-cen{
    display: flex;
    justify-content: center;
    /* width: 60%; */
    margin: 0 20px;
}


footer #col-sx ul{
    display: flex;
    text-align: center;
    width: 100%;
}


footer #col-cen ul{
    display: flex;
    text-align: center;
    /* width: 100%; */
}

footer #col-dx{
    color: red;
    background-color: #4a4a4a;
    padding: 20px 10px;
    margin-right: 2px;
}
