*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

/* header */

header{
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

header #container{
    display: flex;
    align-items: center;

}

header #container .view{
    color: white;
    background-color: gray;
    margin-right: 5px;

}

header #container .expand{
    background-color: gray;
}



/* corpo */

main{
    height: calc(100vh - 110px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0;
}

main #immagine{
    width: 100px;
    height: 80px;
    background-color: red;
    border: solid 4px black;
}


/* footer */


footer{
    width: 100%;
    height: 80px;
    background-color:#222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


footer ul{
    display: flex;
    align-items: center;
    text-align: center;
}

footer  ul li{
    color: white;
    font-size: 12px;

}

footer ul i{
    color: white;
    font-size: 30px;
    padding: 0 10px;
}

footer ul #arrow{
    color:white;
    font-size: 15px;
}


footer #col-dx{
    color: red;
    background-color: #4a4a4a;
    padding: 20px 10px;
    margin-right: 2px;
}
